* {
    box-sizing: border-box;
}


.block_parent{
    height: 450px;
    overflow: auto;
    border: 3px groove #000;
    border-radius: 25px 0px 0px 25px;
    background:#c9b8b8;
    margin-top: 10px;
}

.inline{
    padding:10px;
    margin:10px;
    max-width: 300px;
    max-height:600px;
    border-radius: 20px;
}
.inline{
    display: inline-block;
    box-shadow: inset 5px 5px 25px #000, -5px -5px 25px #000;
    background:#f4ee5d;
}